.nav {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
  margin-bottom: 1vh;
  margin-top: 1vh;
  align-self: center;
  font-size: bold;
}
.navButton {
  color: rgb(146, 228, 252);
  font-weight: bold;
}
.navButton:hover {
  cursor: pointer;
}