.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 1vh;
}

.items {
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: rgb(218, 234, 248);
  align-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
  margin-top: 1vh;
  border: 5px solid rgb(113, 211, 233);
  border-color: rgb(43, 189, 167);
  border-radius: 5px;
  padding: 1vw;
}